<section class="socialbox cf">
			
	<div class="wrap cf">
		<div class="socialcells fsq">
			<h3 class="fsq">Foursquare</h3>
			<p>Check-in @ Buscap&egrave; and unlock our specials.</p>
		</div>
		<div class="socialcells fb">
			<h3 class="fb">Facebook</h3>
			<p>Find us on Facebook and become our friend.</p>
		</div>
		<div class="socialcells mail">
			<h3 class="mail">Contact us</h3>
			<p>Got questions? Then write us a <a href="/contacts/eng/">mail</a>.</p>
		</div>
	</div>
</section>


<div class="imagebar2"  style="height:521px">
	<div class="decor">
	</div>
</div>

<footer class="cf">
	<section class="wrap">
		<nav class="footercells">
			<ul>
				<li><a href="/where/eng/">Where</a></li>
				<li><a href="/pics/eng/">Pics</a></li>
				<li><a href="/contacts/eng/">Contacts</a></li>
			</ul>
		</nav>
		<nav class="footercells">
			<ul>
				<li><a href="..">Versione italiana</a></li>
				<li><a href="http://www.buscapeweb.it/resources/scheda-tecnica.html">Tech specs</a></li>
				<li><a href="/credits.html">Credits</a></li>
			</ul>
		</nav>		
		<nav class="footercells">
			
				<p class="to-top">&#9650;</p>
				
		</nav>

				<div class="credits">Buscap&egrave;</div>
	</section>
	
</footer>