<section class="socialbox cf">
			
	<div class="wrap cf">
		<div class="socialcells fsq">
			<h3 class="fsq">Foursquare</h3>
			<p>Fai check-in al Buscap&egrave; e sblocca le nostre special.</p>
		</div>
		<div class="socialcells fb">
			<h3 class="fb">Facebook</h3>
			<p>Trovaci su Facebook e metti Like alla nostra <a href=""></a>pagina.</p>
		</div>
		<div class="socialcells mail">
			<h3 class="mail">Contattaci</h3>
			<p>Qualche domanda? Scrivici al nostro indirizzo <a href="/contacts/">mail</a>.</p>
		</div>
	</div>
</section>


<div class="imagebar2"  style="height:521px">
	<div class="decor">
	</div>
</div>

<footer class="cf">
	<section class="wrap">
		<nav class="footercells">
			<ul>
				<li><a href="/where/">Dove siamo</a></li>
				<li><a href="/pics/">Foto</a></li>
				<li><a href="/contacts/">Contatti</a></li>
			</ul>
		</nav>
		<nav class="footercells">
			<ul>
				<li><a href="eng/">English version</a></li>
				<li><a href="http://www.buscapeweb.it/resources/scheda-tecnica.html">Scheda tecnica</a></li>
				<li><a href="/credits.html">Credits</a></li>
			</ul>
		</nav>		
		<nav class="footercells">
			
				<p class="to-top">&#9650;</p>
				
		</nav>

				<div class="credits">Buscap&egrave;</div>
	</section>
	
</footer>