<!DOCTYPE HTML>
<!--[if lt IE 9]><html class="old-ie"><![endif]-->
<!--[if gt IE 8]><!--> <html> <!--<![endif]-->
<head>
	<meta charset="UTF-8"> 
	<meta name="description" content="Buscapè, wine & cocktail bar in centro storico a Modena. Aperitivi, feste di laurea o compleanno con buffet, eventi di musica live.">
	<link href='http://fonts.googleapis.com/css?family=Lato:300,400,400italic|Neucha' rel='stylesheet' type='text/css'>
	<link href="/stylesheets/screen-min-2013-3-27.css" media="screen, projection" rel="stylesheet" type="text/css" />

 <!--[if lt IE 9]>
    <script src="js/libs/html5shiv-respond.min.js"/></script>
  <![endif]-->
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <title>Buscapè - {{page.title}}</title>
</head>

<body class="{{page.bodyClass}}">
<!--[if lt IE 8]>
    <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
<![endif]-->
