
{% include header.html %}

<nav class="topmenu">
	<a href=".." class="change-lang">ita</a href="#">
</nav>

<div class="wrap main-sect">
	<header class="main-head">
		<a class="logo" href="/eng/"  alt="Home - English">		
			<span class="logo-image"></span>
			<h1>Buscap&egrave;</h1>	
		</a>
		<nav>
			<div class="toggler2"></div>
			<ul class="menu">
				<li><a href="/where/eng/" alt="Where"><h2>where</h2></a></li>
				<li><a href="/pics/eng/" alt="Pics"><h2>pics</h2></a></li>
				<li><a href="/contacts/eng/" alt="Contacts"><h2>contacts</h2></a></li>
			</ul>
		</nav>
	</header>
 
 {{ content }}

</div> <!-- wrap -->

{% include bottom-eng.html %}

{% include footer-common.html %}
